* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 80%;
  margin: 0 auto;
}
.errorText {
  color: red;
  font-size: 0.875rem; /* Adjust the size as needed */
  margin-top: 0.25rem; /* Space between the input and error message */
}
body {
  font-family: "Raleway", sans-serif;
}
.loader {
  width: 60px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
  33% {
    background-size: calc(100% / 3) 0%, calc(100% / 3) 100%, calc(100% / 3) 100%;
  }
  50% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 0%, calc(100% / 3) 100%;
  }
  66% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0%;
  }
}

.slick-arrow {
  height: unset !important;
  width: unset !important;
  border-radius: 50%;
}
.slick-arrow:hover .slick-arrow::before {
  color: #b93006 !important;
}
.slick-arrow::before {
  color: #c15a3b !important;
  font-size: 30px !important;
}
.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 15px !important;
  color: white;
}
.swiper-button-prev, .swiper-button-next {
  background-color: red;
  border-radius: 50%;
  height: 30px !important;
  width: 30px !important;
}