.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.searchWrapper {
  display: flex;
  justify-content: center;
}
.searchInput {
  margin: 20px auto;
  padding: 8px;
  font: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 400px;
  outline: none;
  transition: all 0.2s;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  height: calc(1.5em + 0.75rem + 2px);
  border-radius: 4px;
}
.messageSpace {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
}
.input:focus {
  box-shadow: inset 2px 2px 10px -5px #797979;
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
}
.paginationWrapper {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 10px;
  margin-top: 20px;
}
.paginationWrapper li {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  color: #5a5a5a;
}
.previousIconWrapper,
.nextIconWrapper {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c15a3b;
  cursor: pointer;
  border-radius: 50%;
  color: #fff;
}
.previousIconWrapper:hover,
.nextIconWrapper:hover {
  color: #fff;
  background-color: #b93006;
}

.activePage {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 900 !important;
  color: #000 !important;
}
.activePage::selection {
  color: currentColor;
  background-color: transparent;
}

.loginMessageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; /* Adjusted to center the message in the viewport */
}

.loginMessage {
  background-color: #f9f9f9; /* Light background color */
  padding: 20px 30px; /* Padding for space inside */
  border: 2px solid #d9534f; /* Red border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow for a lifted effect */
  text-align: center; /* Center text */
  font-size: 1.2rem; /* Slightly larger font size */
  color: #333; /* Text color */
}

.loginButton {
  margin-top: 15px; /* Space above the button */
  padding: 10px 20px; /* Padding inside the button */
  background-color: #d9534f; /* Red background */
  color: white; /* White text */
  border: none; /* Remove default border */
  border-radius: 5px; /* Slightly rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 1rem; /* Adjust font size */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.loginButton:hover {
  background-color: #c9302c; /* Darker red on hover */
}
